
<app-header 
  [list]="menuList" 
  (onMenuClick)="onMenuClick($event)"
  [buttonList]="buttons"
  (onButtonItemClick)="selectView($event)"
  ></app-header>


This is the main section  
<h2>{{title}}</h2>

<app-add-employee (onSubmit)="addEmployee($event)"  *ngIf="activeViewIndex === 1"></app-add-employee>

<div *ngIf="activeViewIndex === 0">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>View</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees; let i = index" [ngClass]="{ 'selected' : emp.selected }">
      <td>{{emp.name}}</td>
      <td>{{emp.age}}</td>
      <td> <button (click)="onSelectEmployee(emp)">View</button> </td>
      <td><button (click)="deleteEmployee(i)">Delete</button></td>
    </tr>
  </tbody>
</table>

<app-selected-employee [employee]="selectedEmployee"></app-selected-employee>
<app-footer></app-footer>