<app-header></app-header>

This is the main section  
<h2>{{title}}</h2>

<div>
  <h2>Add Employee</h2>
  {{newEmployee | json }}
  <div>
    Name: <input type="text" [(ngModel)]="newEmployee.name">
    
  </div>
  <div>
    Age: <input type="number" [(ngModel)]="newEmployee.age">
  </div>
  <button (click)="addEmployee()">Add</button>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees" [ngClass]="{ 'selected' : emp.selected }">
      <td>{{emp.name}}</td>
      <td>{{emp.age}}</td>
      <td> <button (click)="onSelectEmployee(emp)">View</button> </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedEmployee">
  <h2>Selected Employee</h2>
  <p>Name: {{selectedEmployee.name }}</p>
  <p>Age: {{selectedEmployee.age }}</p>
</div>

<app-footer></app-footer>